<div class="header-hero">
    <h1 class="top">MSCC 2020</h1>
    <h3 class="subtitle">Heroes App v22</h3>
</div>


<ul class="hero-list">
  <ng-container *ngFor="let hero of herosList; let i=index">
    <li class="list__container" *ngIf="i<100">
      <div>
        <h3 class="list__container-title">{{hero.name}}</h3>
        <img class="image-hero" [src]="hero.image.url" alt="Photo of a SuperHero">
        <div class="list__content">
          <div><b>AKA: {{hero.biography.aliases.join(',')}}</b></div>
          <div><b>Full Name:</b> {{hero.biography["full-name"]}}</div>
          <div><b>First Appearance:</b> {{hero.biography["first-appearance"]}}</div>
          <div><b>Publisher:</b> {{hero.biography.publisher}}</div>
          <div class="stats-container">
            <ul>
              <li>Strength: {{hero.powerstats.strength}}</li>
              <li>Combat: {{hero.powerstats.combat}}</li>
              <li>Durability: {{hero.powerstats.durability}}</li>
              <li>Power: {{hero.powerstats.power}}</li>
              <li>Intelligence: {{hero.powerstats.intelligence}}</li>
              <li>Speed: {{hero.powerstats.speed}}</li>
            </ul>
          </div>
        </div>

      </div>
    </li>
  </ng-container>

</ul>

<router-outlet></router-outlet>
