<h1 class="top">MSCC</h1>
<h2 class="top t-30">PWA Heroes App with Angular V5</h2>

<mat-grid-list cols="3" style="margin-top: 100px;" rowHeight="4:10">
  <ng-container *ngFor="let hero of herosList; let i=index">
    <mat-grid-tile *ngIf="i<50" >
      <mat-card class="example-card" style="padding-left: 25px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{hero.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="hero.image.url" alt="Photo of a SuperHero">
        <mat-card-content>
          <div><b>AKA: {{hero.biography.aliases.join(',')}}</b></div>
          <div><b>Full Name:</b> {{hero.biography["full-name"]}}</div>
          <div><b>First Appearance:</b> {{hero.biography["first-appearance"]}}</div>
          <div><b>Publisher:</b> {{hero.biography.publisher}}</div>
          <mat-chip-list aria-label="Power Stats">
            <mat-chip color="primary" selected>Strength: {{hero.powerstats.strength}}</mat-chip>
            <mat-chip color="primary" selected>Combat: {{hero.powerstats.combat}}</mat-chip>
            <mat-chip color="primary" selected>Durability: {{hero.powerstats.durability}}</mat-chip>
            <mat-chip color="primary" selected>Power: {{hero.powerstats.power}}</mat-chip>
            <mat-chip color="primary" selected>Intelligence: {{hero.powerstats.intelligence}}</mat-chip>
            <mat-chip color="primary" selected>Speed: {{hero.powerstats.speed}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </ng-container>

</mat-grid-list>


<router-outlet></router-outlet>
